/* début reset */

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}


/* fin  */


/**
* Style
*/

html,
body {
    width: 100%;
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
}

#loading_icon {
    background-image: url(../img/loading.gif);
    width: 64px;
    height: 64px;
    background-repeat: no-repeat;
    margin: auto;
    position: absolute;
    top: 50vh;
    left: 50vw;
    z-index: 1;
}

#errorWorkerMsg {
    background-color: tomato;
    color: whitesmoke;
    margin: auto;
    position: absolute;
    top: 50vh;
    left: 40vw;
    z-index: 1;
    padding: 50px;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}

#tabs_div {
    margin: 0 0 0 auto;
}

#list_tabs {
    display: flex;
}

.tabs_img {
    height: 100%;
    vertical-align: middle;
}

.tabs {
    padding: 0 1.5em;
    border-radius: 0px 30px 0px 0px;
    max-height: 50px;
    background-color: #e2e4e5;
}

.tab_active {
    background-color: lightgray;
    box-shadow: inset 3px 0 0 #2CC185;
}

#menu {
    overflow: hidden;
    padding: 2px;
    height: 24px;
    background-color: lightgray;
}

#submenu {
    width: 30vw;
    font-size: medium;
    overflow: hidden;
}

#submenu_section {
    background-color: #ebecf0;
    padding: 10px;
    border-radius: 10px;
    margin: 2px 0;
    overflow-x: auto;
}

#submenu h3 {
    text-align: center;
    background-color: #5F5F61;
    padding: 10px;
    border-radius: 10px;
    margin: 2px 0;
    color: white;
}

.nodeInput {
    max-width: 100px;
}

#submenu_cpt_view {
    /* width: 80vw; */
    overflow-x: auto;
    margin: 10px;
    max-height: 35vh;
}

.cptTable table {
    table-layout: fixed;
}

.cptTable th {
    max-width: 50px;
    overflow: hidden;
}

.cptTable input {
    max-width: 50px;
}

#columns {
    display: grid;
    /* grid-template-columns: 3fr 1fr; */
}

#instructions {
    display: flex;
    justify-content: space-between;
    background: white;
}

#Rightinstructions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#agrumLogo {
    margin: 0 auto;
    max-width: 50%;
}

#jusuFiligram {
    background-image: url("../img/bg_JuSu.png");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -10;
}

#btnMenu {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 0px;
}

.customBtn {
    padding: 0.313em 0.5em;
    border-radius: 6px;
    color: white;
    background-color: #838683;
    background-image: -webkit-linear-gradient(top, #a5a5a5, #808080);
    background-image: -moz-linear-gradient(top, #a5a5a5, #808080);
    background-image: -ms-linear-gradient(top, #a5a5a5, #808080);
    background-image: -o-linear-gradient(top, #a5a5a5, #808080);
    background-image: linear-gradient(to bottom, #a5a5a5, #808080);
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.customBtn:hover {
    background-color: #7c7c7c;
    background-image: -webkit-linear-gradient(top, #808080, #919191);
    background-image: -moz-linear-gradient(top, #808080, #919191);
    background-image: -ms-linear-gradient(top, #808080, #919191);
    background-image: -o-linear-gradient(top, #808080, #919191);
    background-image: linear-gradient(to bottom, #808080, #919191);
}

.customInput {
    border: 1px solid gray;
    border-radius: 6px;
    padding: 4px 6px;
    margin-right: 4px;
}

.customInput:focus {
    border: 1px solid orange;
}

#expendBtn {
    background-image: url(../img/left_arrow.svg);
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
}

#closeMenuBtn {
    background-image: url(../img/cross.svg);
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
}

#errorDiv {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightcoral;
    padding: 10px 0;
    display: flex;
    justify-content: start;
}

#closeError {
    padding: 0 10px;
}

#errorMsg {
    margin: 0 auto;
    font-weight: bold;
    color: white;
    text-align: center;
}

#helpDiv {
    background-color: aliceblue;
    margin: auto;
    position: absolute;
    top: 40vh;
    left: 20vw;
    z-index: 1;
    padding: 10px;
}

#closeHelp {
    float: right;
}

#instructionsText {
    margin: auto 10px;
}